@charset "UTF-8";

:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  --tipo-principal: Helvetica, Arial, sans-serif;
}


@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
    --blanco: #303030;
    --sombra-ppal: #242424;
    --sombra-sec: #3c3c3c;
    --borde-negro: #FFFFFF50;
  }
}


.carrousel {
  width: 90%;
  max-width: 120em;
  padding: 2em;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  overflow: hidden;
  margin: auto;
}

.carrousel .grande {
  width: 250%;
  display: flex;
  flex-flow:initial;
  justify-content: space-between;
  align-items: center;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  padding:auto;
  transition: all 0.5s ease;
  transform: translateX(0%);
  margin: auto;
}

.carrousel .img {
  width: calc( 80% / 2 - 2em);
  min-height: 10vh;
  color: var(--negro);
  padding-left: 6%;
  padding-right: 6%;
  transition: all 0.4s ease;
  border-radius: 1em;
  margin:auto;
  background-color: var(--blanco);

}

.carrousel .puntos {
  width: 100%;
  margin: 1em 0 0;
  padding: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.carrousel .punto {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .punto.activo {
  background-color: lightblue;
}

.nav__menu{
  display: block;

}
.nav__list{
  display: inline;
}



.nav {
  height: 85px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #0111ae;
  border-top: solid 1px #0111ae;
  position: sticky;
  top: 0;
  margin: 15px 0;
  z-index: 1;
  background-color: #fff;
}

.nav__logo {
  height: 100%;
  width: 100px;
  position: relative;
  left: 100px;
}

.nav__lista {
  width: 50%;
  position: absolute;
  right: 100px;
  display: flex;
  justify-content: space-between;
}

.li-indicador {
  display: inline;
  font-size: 20px;
  color: #0111ae;
}

.li-indicador:hover {
  border-bottom: solid 4px #ce5b29;
  padding: 2px 0;
}



.footer {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #0111ae;
  border-top: solid 1.5px #0111ae;
  border-bottom: solid 1.5px #0111ae;
  margin-bottom: 10px;
}

.footer__conten {
  column-count: 2;
  column-gap: 125px;
  margin-bottom: 20px;
  position: relative;
  left: -255px;
}


footer h2 {
  position: relative;
  left: -595px;
  margin-bottom: 10px;
  font-size: 22px;
  color: black;
}

footer p {
  color: black;
}

.footer{
  color: white;
}

.divuno{
  width: 100vw;
  height: 185px;
  background-color: #147199;
}

.divuno__conten {
  display: flex;
  margin-top: 5px;
}

.h2footer{
  font-size: 25px;
  position: relative;
  top: 40px;
  left: 60px;

}

.divuno__contacto{
  top: 55px;
  position: relative;
  left: 110px;
  margin-right: 140px;
}

.divdos{
  background-color: #0111ae;
  width: 100vw;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
} 
