@charset "UTF-8";
:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
    --blanco: #303030;
    --sombra-ppal: #242424;
    --sombra-sec: #3c3c3c;
    --borde-negro: #FFFFFF50;
  }
}
/*  <!-- </Rodrigo --> */
/*
    Estilos generales para que las etiquetas no contengan propiedades
    que nos estorben y en todos los navegadores se vean correctamente
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

a {
/*  display: block;*/
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}


video {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, strong {
  -webkit-hyphens: auto;
          hyphens: auto;
  font-weight: inherit;
  font-size: inherit;
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;
}

body {
  font-family: var(--tipo-principal);
  font-size: 100%;
  line-height: 1.4em;
  min-height: 100vh;
  background-color: var(--blanco);
  color: var(--negro);
  -webkit-hyphens: auto;
          hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
#rotulo{
  width: 80%;
  background-color: rgb(20, 20, 190);
  color: white;
  margin: 10px auto ;
  padding-left: 10;
  font-style: bold; 
  text-align: center;
  display: block;
  
}
/*  <!-- </Rodrigo --> */
.carrousel {
  width: 90%;
  max-width: 120em;
  padding: 2em;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  overflow: hidden;
  margin: auto;
}

.carrousel .grande {
  width: 250%;
  display: flex;
  flex-flow:initial;
  justify-content: space-between;
  align-items: center;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  padding:auto;
  transition: all 0.5s ease;
  transform: translateX(0%);
  margin: auto;
}

.carrousel .img {
  width: calc( 80% / 2 - 2em);
  min-height: 10vh;
  color: var(--negro);
  padding-left: 6%;
  padding-right: 6%;
  transition: all 0.4s ease;
  border-radius: 1em;
  margin:auto;
  background-color: var(--blanco);

}

.carrousel .puntos {
  width: 100%;
  margin: 1em 0 0;
  padding: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.carrousel .punto {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .punto.activo {
  background-color: lightblue;
}

.nav__menu{
  display: block;

}
.nav__list{
  display: inline;
}
/*  <!-- </Rodrigo --> */


/*-- <MARCOS> --*/

/* ----NAV---- */

.nav {

  height: 85px;
  width: 100%;
  display: flex;
  align-items: center;
 /* border-bottom: solid 1px black;
  border-top: solid 1px #0111ae;*/
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #fff;
}

.nav__logo {
  height: 100%;
  width: 100px;
  position: relative;
  left: 100px;
}

.nav__lista {
  width: 50%;
  position: absolute;
  right: 100px;
  display: flex;
  justify-content: space-between;
}

.li-indicador {
  display: inline;
  font-size: 20px;
  color: #0111ae;
}

.li-indicador:hover {
  border-bottom: solid 4px #ce5b29;
  padding: 2px 0;
}


/* ----FOOTER---- */

.footer{
  color: white;
}

.divuno{
  margin-top: 30px;
  width: 100vw;
  height: 185px;
  background-color: #147199;
}

.divuno__conten {
  display: flex;
  margin-top: 5px;
  flex-direction: row;
  justify-content: space-evenly;
}

.h2footer{
  font-size: 25px;
  position: relative;
  top: 40px;
  left: 60px;

}

.divuno__contacto{
  top: 55px;
  position: relative;
  left: 110px;
  margin-right: 140px;
}

.divdos{
  background-color: #0111ae;
  width: 100vw;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}


/*-- </MARCOS> --*/