/*===== GOOGLE FONTS =====*/
:root{
    /* Background */
    --background-color: #aadcf8;
    --nav-button-color: #3aa9e9;
    --nav-background-color: #c6e1f1;
    --section-bar-color: #154b6b;
    --footer-background-color: #206791;

    /* Fonts */
    --button-nav-font: 'Courier New', Courier, monospace;

    /* Fonts Color*/
    --nav-font-color: #fff;
    --section-bar-font-color: #fff;
    --footer-font-color: #fff;
}